.video {
  width: 200px;
  border: 1px solid #ccc;
}

.playingVideo {
  -webkit-filter: opacity(50%); /* Safari 6.0 - 9.0 */
  filter: opacity(50%);
}

.player-controls {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.play-button {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: red;
  border-radius: 7%;
  color: white;
  width: 10vw;
}

.playlist {
  /* width: auto; */
  overflow-x: auto;
  padding: 2px 2px 7px 2px;
  display: flex;
  max-width: 100vw;
}

.playlist > .video {
  flex: 1; /*grow*/
}
