<div class="player-controls">
  <div class="play-button" (click)="playPrevious()">
    <i class="fas fa-backward m-auto"></i>
  </div>
  <div>
    <p>
      <strong>{{ title }}</strong>
    </p>
  </div>
  <div class="play-button" (click)="playNext()">
    <i class="fas fa-forward m-auto"></i>
  </div>
</div>
<div style="text-align: center">
  {{ description }}
</div>

<div class="playlist">
  @for (video of videos; track video; let i = $index) {
    <div
      class="video"
      [ngClass]="{ playingVideo: i === videoIndex }"
      (click)="playVideo(video.id.videoId, video.snippet.title, video.snippet.description, i)"
      >
      <div>
        <img [src]="video.snippet.thumbnails.default.url" alt="YouTube.com" width="199" height="130" />
      </div>
      <div class="video-title">{{ video.snippet.title }}</div>
    </div>
  }
</div>
