# This file is used by Browserslist to configure supported browsers for the project.
# See: https://github.com/browserslist/browserslist#queries

# Angular v20 supports modern evergreen browsers. Keep the list focused to avoid build warnings.
last 2 Chrome major versions
last 2 Firefox major versions
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
