.playlist-title {
  display:inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  &:hover {
    background-color: red;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-evenly;
}
