<div class="container">
  <div>
    <h3>Privacy Policy</h3>
  </div>

  <ul>
    <li>This API Client uses YouTube API Services.</li>
    <li>If using this application you must agree to <a href="https://policies.google.com/privacy">Google Privacy Policy</a> otherwise do not use this application!</li>
    <li>This API Client is not collecting and storing any data about the users.</li>
    <li>This API Client is not processing and sharing data with internal and external parties.</li>
    <li>This API Client does not allow third parties to serve content or advertisements.</li>
  </ul>
  <hr>
  <p>
    Contact: <a href="mailto: borce.10712@gmail.com">borce.10712@gmail.com</a>
  </p>
</div>
