<!--The content below is only a placeholder and can be replaced.-->
<div class="header text-center">
  <h1>
    NBA Higlights
  </h1>
</div>

<div class="responsive-container">
  <iframe *ngIf="!isVideoSelected()" class="responsive-iframe" src="https://www.youtube.com/embed/h7DNbhkGmxQ?autoplay=1" width="100%" height="auto" frameborder="0"
    webkitallowfullscreen mozallowfullscreen allowfullscreen>
  </iframe>
  <iframe *ngIf="isVideoSelected()" class="responsive-iframe" [src]='sanitizer.bypassSecurityTrustResourceUrl(currentVideo.url)' width="100%" height="auto" frameborder="0"
      webkitallowfullscreen mozallowfullscreen allowfullscreen>
  </iframe>
</div>

<div class="player">
  <div class="play-previous">
    <img src="../assets/previous.PNG" alt="previous_video" (click)="playPrevious()">
  </div>
  <h2>{{currentVideo.title}}</h2>
  <p>{{currentVideo.description}}</p>
  <div class="play-next">
    <img src="../assets/next.PNG" alt="previous_video" (click)="playNext()">
  </div>
</div>

<div class="playlist">
  <div class="video" *ngFor="let video of videos; let i = index " (click)="playVideo(video.id.videoId, video.snippet.title, video.snippet.title, i)">
    <div>
      <img src="{{video.snippet.thumbnails.default.url}}" alt="YouTube.com" width="199" height="130">
    </div>
    <div class="video-title">{{video.snippet.title}}</div>
  </div>
</div>

<div class="footer text-center">
  2018 - v1.0.0
</div>
